@media screen and (min-width:400px) and (max-width: 900px){
    .a{
        height: 20vh;
        width: 100vw;
    }
    .b{
        height: 40vh;
        width: 100vw;
    }
    .c, .d, .e{
        height: 20vh;
        width: 33.33333vw;
    }
    .container{
        height: 20vh;
        width: 100vw;
    }
    .f{
        height: 20vh;
        width: 100vw;
    }
    .common{
        height: 80vh;
        flex-direction: column;
        align-items: center;
    }
    .box{
        justify-content: center;
        align-items: center;
    }
}